$font-family: "";

// Font-Size Base
$fs_base: 16px;

// Font-Size PX equivalente em REM
$fs_8px: #{8px / $fs_base}rem;
$fs_9px: #{9px / $fs_base}rem;
$fs_10px: #{10px / $fs_base}rem;
$fs_11px: #{11px / $fs_base}rem;
$fs_12px: #{12px / $fs_base}rem;
$fs_13px: #{13px / $fs_base}rem;
$fs_14px: #{14px / $fs_base}rem;
$fs_15px: #{15px / $fs_base}rem;
$fs_16px: #{16px / $fs_base}rem;
$fs_17px: #{17px / $fs_base}rem;
$fs_18px: #{18px / $fs_base}rem;
$fs_19px: #{19px / $fs_base}rem;
$fs_20px: #{20px / $fs_base}rem;
$fs_21px: #{21px / $fs_base}rem;
$fs_22px: #{22px / $fs_base}rem;
$fs_23px: #{23px / $fs_base}rem;
$fs_24px: #{24px / $fs_base}rem;
$fs_25px: #{25px / $fs_base}rem;
$fs_26px: #{26px / $fs_base}rem;
$fs_27px: #{27px / $fs_base}rem;
$fs_28px: #{28px / $fs_base}rem;
$fs_29px: #{29px / $fs_base}rem;
$fs_30px: #{30px / $fs_base}rem;
$fs_31px: #{31px / $fs_base}rem;
$fs_32px: #{32px / $fs_base}rem;
$fs_33px: #{33px / $fs_base}rem;
$fs_34px: #{34px / $fs_base}rem;
$fs_35px: #{35px / $fs_base}rem;
$fs_36px: #{36px / $fs_base}rem;
$fs_37px: #{37px / $fs_base}rem;
$fs_38px: #{38px / $fs_base}rem;
$fs_39px: #{39px / $fs_base}rem;
$fs_40px: #{40px / $fs_base}rem;
$fs_44px: #{44px / $fs_base}rem;
$fs_48px: #{48px / $fs_base}rem;
$fs_64px: #{64px / $fs_base}rem;