$tablet: 768px;
$small_laptop: 1024px;
$laptop: 1200px;

@mixin responsive($medias...) {
    @each $media in $medias {
        @if $media == "smartphone" {
            @media only screen and (max-width: $tablet - 1) {
                @content
            }
        } @else if $media == "tablet" {
            @media only screen and (min-width: $tablet) and (max-width: $small_laptop - 1) {
                @content
            }
        } @else if $media == "desktop" {
            @media only screen and (min-width: $small_laptop) and (max-width: $laptop - 1) {
                @content
            }
        }
    }
}

//Usage:
//@include responsive("tablet", "smartphone") {
//    flex-direction: column-reverse;
//}
//
//.content-left {
//    background-color: #FAFAFA;
//    width: 360px;
//    margin-right: 80px;
//    padding: 40px;
//
//    @include responsive("tablet", "smartphone") {
//        width: 100%;
//        margin: 0 0 40px 0;
//    }
//}