@import "../../res/css/variables/colors";
@import "../../res/css/functions/responsive";

.ReportComponent{
  .title{
    color: $second-white;

    @include responsive("smartphone", "tablet") {
      justify-content: center;
      text-align: center;
    }
  }

  .report{
    color: $second-white;
    .item{
      margin-bottom: 5px;
    }
  }
}